.field-layer {
  
  margin: auto;
  margin-top: 30px;
  width: 50%;
  
  padding: 10px;
}

.field-style {

    margin-top: 20px;
   
}

.field-text {

margin-top:40px;

}
.field-style-inner {

margin-top:60px;

}

.field-layer-egitim {
  
    margin: auto;
    margin-top: 30px;
    width: 50%;
    
    padding: 10px;
  }
  
  .field-style-egitim {
  
      margin-top: 20px;
     
  }
  
  .field-text-egitim {
  
  margin-top:20px;
  
  }
  .field-text-egitim-uni {
  
    margin-top:40px;
    
    }


.field-style-inner-egitim {

    margin-top:20px;
    padding:0px;


}


